* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  list-style-type: none

}

.form-check-label {
  margin-bottom: 10px !important;
}

.form-check {
  padding-top: 0.8em;
}

.image-container {
  background-color: #91989ec9;
}

.icon-color {
  color: #000;
}

/* 
素、葷食等 選項 start
*/

.radio-div.pl-2 {
  border: 1px solid #898989 !important;
}

.input-group-text {
  border-radius: 0 !important;
}

/* 
素、葷食等 選項 end
*/

/* 
禮金付款方式 start
 */
.flex-container {
  display: flex;
  /* background-color: DodgerBlue; */
}

.flex-container>div {
  background-color: #f1f1f1;
  /* margin: 10px; */
  padding: 10px;
  /* font-size: 30px; */
}

/* 
 禮金付款方式 end
  */

/* 
  賓客新增 start 
  */
.form-check-inline {
  /* display: none !important; */
}

.input-group {
  flex-wrap: nowrap !important;
}

/* 
  賓客新增 end
  */

body {
  background-color: #f5f5f5;
  color: #454545;
  font: 400 75%/1.5 "economica", sans-serif;
  min-width: 30em;
}

h2,
h3 {
  margin: 0 0 0.375rem 0;
}

h3 {
  margin-top: 1.5rem;
}

.subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 0.875em;
  color: #898989;
  margin: 0 0 0.25em;
}

.card {
  border: 0.75rem solid #454545;
  max-width: 36em;
  margin: 1.5em auto;
}

.heading {
  font-weight: 700;
}

.super-heading,
.title {
  display: inline-block;
  color: #f5f5f5;
  background: #454545;
  text-transform: uppercase;
}

.super-heading {
  font-size: 1.75em;
  font-style: italic;
  padding: 0 0.5em 0.125em 0.125em;
  margin: 2.6em 0 0.125em;
  line-height: 1.25;
}

.title {
  margin: 0 0 0.125em;
  padding-right: 0.125em;
  font-size: 7.5em;
  line-height: 1;
}

.mirrored {
  display: inline-block;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.party-address {
  padding: 0.125em 0;
  font-style: normal;
  text-align: center;
  border-width: 0.125em 0;
  border-style: solid;
  border-color: #454545;
}

.party-address>p {
  display: inline-block;
  margin: 0 1em;
}

.party-date {
  display: block;
  border-bottom: 0.125em solid #454545;
  text-align: center;
  margin: 0 0 0.5em;
}

.party-month,
.party-day {
  display: inline-block;
  vertical-align: baseline;
  font-weight: 700;
}

.party-month {
  font-size: 6em;
  line-height: 1.25;
  margin-left: 0.25em;
  text-transform: uppercase;
}

.party-day {
  line-height: 1;
  font-size: 9em;
}

.party-day sup {
  font-size: 0.25em;
  top: -2em;
}

form {
  padding: .4em 1.75em 1.75em;
}

input[type="radio"] {
  margin-right: 0.25em;
}

.radio-bringing--yes:checked~.is_bringing {
  display: block;
}

/* 交通車接送 這是radio 點選切換的部分， ---> 不需要，和家人/朋友自行前往。 */
.radio-transfer--yes:checked~.is_transfer {
  display: block;
}

/* 第一個 出席婚宴 */
.radio-coming--yes:checked~.bringing {
  display: block;
}

/* 第二個 禮到情意在 */
.radio-givemoney--yn:checked~.givemoney {
  display: block;
}

/* 第三個 不克前去 */
.radio-coming--notattend:checked~.notattend {
  display: block;
}

/* 專車 */
.radio-transfer--yes:checked~.transfer {
  display: block;
}

.label-coming--yes,
.label-bringing--yes,
.label-givemoney--yes,
.label-coming--notattend,
.label-transfer--yes {
  margin-right: 1.5em;
}

/* 第一個 出席婚宴 */
/* 第二個 禮到情意在 */
/* 第三個 不克前去 */
/* 第四個  交通車接送*/
.bringing,
.givemoney,
.notattend {
  display: none;
  border: none;
  padding: 0;
}

.is_bringing,
.is_transfer {
  display: none;
  padding-left: 1.5em;
  border: none;
}

.input-group {
  width: 25rem !important;
}

textarea[type="text"] {
  width: 80% !important;

}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control,
.input-group>.form-control-plaintext {
  flex: none;
}

/* .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  /* flex: 1 1 auto; 
  width: 1%;
  margin-bottom: 0;
} */

.custom-width {
  max-width: 80% !important;
  border: 1px solid #807f7ff1 !important;
  /* 改變邊框顏色和寬度 */
  border-radius: 0px !important;
  /* 可選：改變邊框圓角 */
}

input[type="text"] {
  width: 80%;
  /* height: 50px; */
  margin: 0;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0.0675em solid #898989;
  /* padding: 0.25em 0.375em; */
  padding: 0.4em 0.375em;
  color: #454545;
}

input[type="text"]:disabled {
  color: #898989;
}

.send-card-button {
  display: block;
  margin: 1.5em auto 0;
  border: none;
  background-color: #454545;
  padding: 0.25em 0.5em 0.5em;
  color: #f5f5f5;
  font-size: 1.5em;
}

.send-card-button:hover {
  color: tomato;
}

.send-card-button.sent {
  pointer-events: none;
}

.thank-you {
  text-align: center;
  margin: 1.5em 0 0 0;
}

/* ----------------------@media------------------------ */
@media only screen and (min-width: 48em) {
  body {
    font-size: 1em;
  }

  .card {
    max-width: 56em;
  }

  .card:after {
    content: "";
    display: table;
    clear: both;
  }

  /* .column {
    float: left;
  }

  .column.left {
    width: 66.6666%;
    border-right: 0.125em solid #454545;
  }

  .column.right {
    width: 33.3334%;
  } */

  .party-address {
    margin: 2.4em 0 1.5em;
  }

  .party-date {
    border: none;
  }
}