{% extends 'dashboard/base.html' %}
{% block content %}
<title>分類更新</title>
<style>
  .input-group-text {
    width: 8rem;
    /* 根據需求調整這個寬度 */
    justify-content: center;
    /* 讓文字在span內居中 */
  }
</style>
<div class="content-wrapper" style="min-height: 244.792px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">編輯 類別</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item active">編輯 類別</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->

  <!-- Main container-fluid -->
  <div class="container-fluid">
    <div class="row">

      <div class="container-fluid"><!--mt-4-->
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="">Income</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Edit Income
            </li>
          </ol>
        </nav> -->

        <div class="card">
          <div class="card-body">
            <form action="{% url 'budget:update_category' id=update_category.id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">項目編號</span>
                  </div>
                  <input type="text" class="form-control form-control-lg" name="id" value="{{update_category.id}}" readonly />
                </div>
              </div>
              
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">類別名稱</span>
                  </div>
                  <input type="text" class="form-control form-control-lg" name="name"
                    value="{{update_category.name}}" />
                </div>
              </div>
              
              
              
              <input type="submit" value="更新資料" class="btn btn-primary btn-primary-sm" />
            </form>

          </div>
        </div>

        <div class="row">
          <a href="{% url 'budget:list_category' %}" class="btn btn-primary-sm">
            <i class="fa fa-undo" aria-hidden="true"></i> 返回選單列表</a>
        </div><!-- /.row -->

      </div><!-- /.container-fluid -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div><!-- /.content-wrapper -->

{% endblock %}